/* Обнуляшка CSS */

* {
  margin: 0;
  padding: 0;
}

.ul-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

input {
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* Основные стили пошли ниже */

/*Подключаем шрифты*/

@font-face {
  font-family: "OpenSans Regular";
  src: url(/sources/fonts/OpenSans-Regular.woff) format(woff);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans Bold";
  src: url(/sources/fonts/OpenSans-Bold.woff) format(woff);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Основной стиль */

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  position: relative;
  font-size: 14px;
  line-height: 12px;
  font-family: "OpenSans Bold";
  text-transform: uppercase;
  color: #0f0d0e;
  text-align: center;
  padding-bottom: 16px;
  margin-bottom: 28px;
}

.section-title:after {
  content: "";
  width: 65px;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e1d9bd;
}

.img-cover {
  display: block;
  width: auto;
  height: auto;
  object-fit: cover;
}

.post-date {
  font-size: 12px;
  font-family: "OpenSans Regular";
  color: #888888;
  line-height: 1em;
}

.post-tag {
  display: inline-block;
  font-size: 14px;
  color: #b59f5b;
  text-transform: uppercase;
  font-family: "OpenSans Bold";
}

.post-tag a {
  text-decoration: none;
  transition: all 0.3s ease;
  color: #b59f5b;
}

.post-tag a:hover {
  text-decoration: underline;
}

.post-title {
  font-size: 20px;
  line-height: 24px;
  font-family: "OpenSans Bold";
  text-transform: uppercase;
  color: #0f0d0e;
}

.post-title a {
  text-decoration: none;
  transition: all 0.3s ease;
  color: #0f0d0e;
}

.post-title a:hover {
  color: #b59f5b;
}

/* Стили формы */

.input-group {
  display: flex;
}

.input-group-vertical {
  display: flex;
  flex-direction: column;
}

.form-input {
  background-color: #f4f7f6;
  padding: 16px 17px 15px 17px;
  border: none;
  font-size: 13px;
  font-family: "OpenSans Regular";
  transition: all 0.3s ease;
}

.form-input:focus {
  outline: 1px solid #b59f5b;
  outline-offset: -1px;
}

.form-submit {
  cursor: pointer;
  background-color: #b59f5b;
  border: none;
  display: block;
  transition: all 0.3s ease;
}

.form-submit:hover {
  background-color: #323232;
}

/* Шапка */

.header {
  position: relative;
  background-image: url("/sources/img/banner-bg.jpg");
  background-position: center top;
  background-size: cover;
  margin-bottom: 63px;
  background-color: #000000;
}

.header:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.header-content {
  z-index: 2;
  position: relative;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 29px;
}

.header-logo-img {
  width: 181px;
  height: 43px;
}

.burger-menu {
  width: 23px;
  height: 20px;
  background: none;
  border: none;
  position: relative;
  display: none;
}

.burger-menu-item,
.burger-menu-item:before,
.burger-menu-item:after {
  display: block;
  width: 100%;
  height: 3px;
  background: #fff;
  position: absolute;
}

.burger-menu-item:before {
  content: "";
  top: -10px;
}

.burger-menu-item:after {
  content: "";
  top: 10px;
  left: 0;
}

.menu-list {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  font-size: 13px;
  font-family: "OpenSans Regular";
  font-weight: 400;
  text-transform: uppercase;
  z-index: 2;
  position: relative;
}

.menu-link {
  margin-right: 35px;
}

.menu-link:last-child {
  margin-right: 0;
}

.menu-link a {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
}

.menu-link a:hover {
  text-decoration: underline;
}

.header-hero {
  padding-top: 100px;
  padding-bottom: 127px;
  max-width: 720px;
  margin: 0 auto;
}

.header-title {
  font-family: "OpenSans Bold";
  font-weight: bold;
  color: #fff;
  font-size: 45px;
  line-height: 75px;
  text-align: center;
  text-transform: uppercase;
}

/* Trends */

.trends {
  margin-bottom: 63px;
}

.trends .section-title {
  font-size: 20px;
}

.trends-container {
  display: flex;
  flex-wrap: wrap;
}

.trend-card {
  box-sizing: border-box;
  display: flex;
  position: relative;
  width: calc((100% / 4) - (12px / 4));
  margin-right: 4px;
  margin-bottom: 4px;
  height: 320px;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: end;
  padding-left: 20px;
  padding-right: 23px;
  padding-bottom: 15px;
}

.trend-card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.trend-card:nth-child(4n) {
  margin-right: 0;
}

.trend-card-props {
  z-index: 1;
  position: relative;
  padding: 37px 32px;
  outline: solid #b59f5b 3px;
}

.trend-card-tags {
  margin-bottom: 10px;
}

.trend-card-tag {
  margin-right: 20px;
}

.trend-card-tag:last-child {
  margin-right: 0;
}

.trend-card-title {
  color: #fff;
}

.trend-card-title a {
  color: #fff;
}

/*.trend-card-title a:visited {
  color: #fff;
} */

/* Main */

.main-content .container {
  display: flex;
}

.main {
  /* flex: 1 0 778px; */
  min-width: 778px;
  margin-right: 120px;
  background-color: #fff;
  margin-bottom: 65px;
}

/* News */

.news {
  margin-bottom: 63px;
}

/* News card */

.news-card {
  display: flex;
  margin-bottom: 60px;
}

.news-card:last-child {
  margin-bottom: 0;
}

.news-card-img {
  margin-right: 30px;
  flex: 1 0 380px;
  height: 295px;
}

.news-card-tags {
  margin-bottom: 4px;
}

.news-card-tag {
  margin-right: 16px;
}

.news-card-tag:last-child {
  margin-right: 0;
}

.news-card-title {
  font-size: 20px;
  line-height: 24px;
  font-family: "OpenSans Bold";
  text-transform: uppercase;
  color: #0f0d0e;
}

.news-card-title a {
  text-decoration: none;
  transition: all 0.3s ease;
  color: #0f0d0e;
}

.news-card-title a:hover {
  color: #b59f5b;
}

.news-card-props {
  margin-top: 17px;
  margin-bottom: 33px;
}

.news-card-date {
  margin-right: 9px;
}

.news-card-author {
  font-size: 12px;
  line-height: 40px;
  font-family: "OpenSans Bold";
  color: #000;
}

.news-card-desc {
  font-size: 15px;
  line-height: 24px;
  font-family: "OpenSans Regular";
  color: #0f0d0e;
  margin: 0;
}

.news-card-desc p {
  margin-bottom: 9px;
}

/* Shop */

.shop .section-title {
  font-size: 20px;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  display: flex;
  flex-direction: column;
  max-width: calc((100% / 3) - (130px / 3));
  margin-right: 65px;
  align-items: center;
  margin-bottom: 60px;
}

.product-card-preview {
  padding: 0 20px;
}

.product-card-preview .img-cover {
  width: 100%;
}

.product-card:last-child {
  margin-right: 0;
}

/* .product-card-body {
  outline: solid red 1px;
  outline-offset: 20px;
  padding-top: 26px;
  flex: 1 0;
} */

.product-card-body {
  position: relative;
  z-index: 1;
  border: 3px solid #b59f5b93;
  margin-top: -25px;
  padding-top: 55px;
  padding-left: 20px;
  padding-right: 21px;
  padding-bottom: 26px;
  flex: 1 0;
}

/* .product-card-body:after {
  content: '';
  position: absolute;
  border: 3px solid #b59f5b93;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
} */

.product-card-props {
  margin-bottom: 24px;
}

.product-card-title {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-family: "OpenSans Bold";
}

.product-card-desc {
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
  font-family: "OpenSans Regular";
}

.product-desc-link {
  font-size: 14px;
  color: #b59f5b;
  font-family: "OpenSans Regular";
  text-decoration: none;
}

.product-desc-link:hover {
  text-decoration: underline;
}

.product-card-buy {
  display: flex;
  justify-content: space-between;
}

.product-card-sale {
  font-size: 14px;
  line-height: 24px;
  text-decoration: line-through;
  color: #0f0d0e;
  font-family: "OpenSans Bold";
}

.product-card-price {
  font-size: 20px;
  line-height: 24px;
  color: #0f0d0e;
  font-family: "OpenSans Bold";
}

.product-card-btn {
  padding: 16px 30px;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "OpenSans Bold";
}

/* Aside */

/* Recent Post */

.recent-posts {
  margin-bottom: 61px;
}

.section-header {
  position: relative;
}

.recent-post {
  display: flex;
  margin-bottom: 22px;
}

.recent-post:last-child {
  margin-bottom: 0;
}

.recent-post-img {
  width: 70px;
  height: 70px;
  margin-right: 20px;
}

.recent-post-date {
  display: block;
  margin-bottom: 5px;
}

.recent-post-title {
  font-size: 14px;
  line-height: 18px;
  font-family: "OpenSans Bold";
  text-transform: uppercase;
  color: #000;
}

.recent-post-title a {
  text-decoration: none;
  transition: all 0.3s ease;
  color: #0f0d0e;
}

.recent-post-title a:visited {
  color: #0f0d0e;
}

.recent-post-title a:hover {
  text-decoration: underline;
  color: #b59f5b;
}

/* Search */

.search {
  margin-bottom: 60px;
}

.search-form-input {
  width: 222px;
}

.search-form-submit {
  background-image: url(/sources/svg/search.svg);
  background-repeat: no-repeat;
  background-position: center center;
  width: 47px;
  background-size: 20px;
}

/* Subscribtion */

.subscribtion {
  margin-bottom: 60px;
}

.subscribtion .section-title {
  margin-bottom: 22px;
}

.subscribtion-form-input {
  margin-bottom: 17px;
}

.subscribtion-form-submit {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "OpenSans Bold";
  color: #fff;
  text-align: center;
  padding: 16px 0 15px 0;
}

/* Tags */

.tags {
  margin-bottom: 52px;
}

.tags .section-title {
  margin-bottom: 22px;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
}

.tags-list-item {
  display: inline-block;
  padding: 4px 13px;
  border: 3px solid #eeeeee;
  margin-right: 5px;
  margin-bottom: 6px;
  font-size: 12px;
  font-family: "OpenSans Bold";
  color: #0f0d0e;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tags-list-item:hover {
  border-color: #b59f5b;
}

.tags-list-item a {
  text-decoration: none;
  color: #0f0d0e;
}

.tags-list-item a:visited {
  color: #0f0d0e;
}

/* Category */

.category .section-title {
  margin-bottom: 23px;
}

.category-list {
  flex-direction: column;
}

.category-list-item a {
  text-decoration: none;
  line-height: 1em;
  transition: all 0.3s ease;
  color: #0f0d0e;
}

.category-list-item a:visited {
  color: #0f0d0e;
}

.category-list-item a:hover {
  color: #b59f5b;
}

.index {
  vertical-align: top;
  font-size: 12px;
  font-family: "OpenSans Bold";
  color: #b59f5b;
  padding-left: 4px;
}

.category-list-item {
  font-family: "OpenSans Bold";
  font-weight: bold;
  font-size: 14px;
  color: #0f0d0e;
  padding-bottom: 13px;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 14.5px;
}

.category-list-item:last-child {
  margin-bottom: 0;
}

/* Footer */

.footer {
  margin-bottom: 41px;
}

.social-media {
  display: flex;
  padding: 28px 0 27px 0;
  justify-content: center;
  align-items: center;
  background-color: #f4f7f6;
  margin-bottom: 66px;
}

.social-list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
}

.social-list-link {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}

.social-list-logo {
  margin-right: 23px;
}

.social-list-logo:last-child {
  margin-right: 0px;
}

.social-list-text {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.link-dribble {
  background-image: url("/sources/svg/001-dribbble.svg");
}

.link-pinterest {
  background-image: url("/sources/svg/002-pinterest.svg");
}

.link-tumblr {
  background-image: url("/sources/svg/003-tumblr.svg");
}

.copyright {
  text-align: center;
}

.copyright-content {
  font-family: "OpenSans Bold";
  font-size: 12px;
  color: #999999;
  text-decoration: none;
}

/* Popup */

#popup-1 {
}

.popup-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup-feedback {
  padding: 20px;
  background: #fff;
  max-width: 390px;
  position: relative;
  transition: all 1s ease-in-out;
}

.popup-feedback .section-title {
  font-size: 20px;
}

.popup-close {
  content: "";
  background-image: url(/sources/svg/form-x.svg);
  background-repeat: no-repeat;
  width: 1em;
  height: 1em;
  text-indent: -999999px;
  position: absolute;
  top: -25px;
  right: 0;
  transition: all 100ms;
  text-decoration: none;
}

/* Tablet */

@media (max-width: 1199px) {
  .header-menu {
    display: none;
  }

  .burger-menu {
    display: block;
  }

  .container {
    max-width: 700px;
    padding: 0 35px;
  }

  .trends {
    margin-bottom: 50px;
  }

  /* .trend-card {
    width: calc((100%/2) - (4px/2));
    height: 247px;
  }

  .trend-card:nth-child(2n) {
    margin-right: 0;
} */

  .trend-card-title {
    font-size: 17px;
  }

  .trend-card-props {
    width: 100%;
  }

  .main {
    max-width: 392px;
    min-width: auto;
    margin-right: 35px;
  }

  .news-card {
    flex-direction: column;
  }

  .news-card:after {
    content: "";
    width: 100%;
    margin-top: 10px;
    height: 3px;
    background-color: #eeeeee;
  }

  .news-card-img {
    height: 302px;
    flex: none;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .news-card-img .img-cover {
    width: 100%;
    height: 100%;
  }

  .news-card-tags {
    font-size: 14px;
  }

  .news-card-title {
    font-size: 16px;
  }

  .aside {
    max-width: 272px;
  }

  /* Shop-tablet */

  .products {
    margin-bottom: 25px;
  }

  .product-card {
    max-width: calc((100% / 2) - (25px / 2));
    margin-right: 25px;
    margin-bottom: 25px;
  }

  .product-card:nth-child(2n) {
    margin-right: 0;
  }
}

@media (max-width: 1200px) and (min-width: 641px) and (orientation: portrait) {
  .trend-card {
    width: calc((100% / 2) - (4px / 2));
    height: 247px;
  }

  .trend-card:nth-child(2n) {
    margin-right: 0;
  }
}

/* Mobile */

@media (max-width: 640px) {
  .container {
    max-width: 640px;
  }

  .header-nav {
    flex-direction: column-reverse;
  }

  .burger-menu {
    align-self: end;
    margin-bottom: 180px;
  }

  .header-hero {
    padding-top: 45px;
  }

  .trends {

  }

  .trend-card {
    width: 100%;
    margin-right: 0;
  }

  .main-content {
    margin-bottom: 43px;
  }

  .main-content .container {
    flex-direction: column;
  }

  .main {
    max-width: 100%;
    margin-right: 0;
  }

  .aside {
    min-width: 100%;
  }

  .search-form-input {
    width: 100%;
  }

  .products {
    flex-direction: column;
  }

  .product-card {
    min-width: 100%;
    margin-right: 0;
  }
}

@media (orientation: landscape) and (max-width: 640px) {
  .trend-card {
    width: calc((100%/2) - (4px/2));
    margin-right: 4px;
  }

  .trend-card:nth-child(2n) {
    margin-right: 0;
  }
}
